{% include 'home.html' %}
{% block product %}
{% load cart %}
{% load custom_filter %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row">
                    {% for product in product %}
                    <div class="card m-auto shadow bg-body mt-4 mb-4" id='{{product.id}}' style="width: 12rem;">
                        <img src="{{product.images.url}}" class="card-img-top shadow rounded-pill mt-2 bg-body" alt="..." style="height: 10rem;">
                        <div class="card-body">
                          <h5 class="card-title">{{product.name}}</h5>
                          <p class="card-text">{{product.price|currency}}</p>
                        </div>
                        <div class="card-footer p-0 ">
                            {% if product|is_in_cart:request.session.cart %}
                                <div class="row">
                                    <form method="post" action="/#{{product.id}}" class="col-2 btn-block">
                                        {% csrf_token %}
                                        <input type="text" name="product" hidden value="{{product.id}}">
                                        <input type="text" name="remove" hidden value="True">
                                        <input type="submit" value="-" class=" btn-secondary  px-2 fw-bold">
                                    </form>
                                    <div class="text-center col-7">{{product|count_cart:request.session.cart}} in cart</div>
                                    <form method="post" action="/#{{product.id}}" class="col-2 btn-block">
                                        {% csrf_token %}
                                        <input type="text" name="product" hidden value="{{product.id}}">
                                        <input type="submit" value="+" class=" btn-secondary  px-2 fw-bold">
                                    </form>
                                </div>
                            {% else %}
                                <form action="/#{{product.id}}" method="post">
                                    {% csrf_token %}
                                    <input type="text" name="product" hidden value="{{product.id}}">
                                    <input class="btn btn-secondary form-control" type="submit" value="Add to cart">
                                </form>
                            {% endif %}
                            

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>




{% endblock  %}


